*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
};
body{
    background-color: black;
    color: white;
}

.rectangle{
    position: relative;
    background: url(img/banner.png);
    background-color: #4d4d4d;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000%;
}
.rectangle p{
    padding-top: 208px;
    padding-left: 100px;
    color: #ffffff;
    font-family: 'Staatliches', cursive;
    font-style: oblique;
    font-size: 60px;
    font-weight: bold;
    line-height: 94px;
    letter-spacing: 0.02em;
    text-align: center;
}
.rectangle p span{
    color: #96FC58;
}
.side{
    background-color: #C5253C;
    width: 60px;
    height: 320px;
    float: right;
}
.side .fa-brands{
    color: #ffffff;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10%;
    padding-left: 30%;
}

.rectangle section{
    background-color: rgb(12, 12, 12);
    margin-top: 21.5%;

}
#prodigy{
    margin-left: 20%;
    position: absolute;
    text-align: justify;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-style: oblique;
    font-size: 100px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.1;
}
.overlay{
    font-family: Staatliches;
    font-size: 72px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0.02em;
    text-align: center;
}
.overlay span{
    color: #96FC58;
}
#home-text{
position: absolute;
margin-left: 16%;
margin-right: 16%;
margin-top: 30px;
font-family: 'Montserrat';
font-size: 24px;
text-align: justify;
color: #FFFFFF;
}
.read-more button{
    --purple: #96FC58;
    width: 150px;
    height: 50px;
    padding: 0.8em 3em;
    position: relative;
    margin-bottom: 20px;
    transition: all 0.3s;
    line-height: 1.4em;
    cursor: pointer;
    margin-left: 40%;
    background-color: transparent;
    color: #96FC58;
    border: 1px solid var(--purple);
    box-shadow: 0 0 10px #96FC58;  
}
/* How it works */
.how{
    background-color: black;
    color: #ffffff;
}
.how h3{
    font-family: 'Staatliches', cursive;
    font-style: oblique;
    font-size: 72px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 40px;
}
.how h3 span{
    color: #96FC58;
}
.how p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 40px;
}
.grid-item {
    background-color:#141414;
    text-align: center;
    width: 370px;
    height: 250px;
    border-radius: 16px;
    margin-top: 50px;
}
.one{
    background-color: #C5253C;
    width: 30px;
    height: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.grid-item h4{
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 10px;
    padding-left: 12px;
    margin-top: 15px;
}
.how h4 span{
    color: #96FC58;
}
.grid-item p{
    margin: 10px;
    padding-top: 25px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.connect{
    position: static;
    background-image: url(img/connect.png);
    background-repeat: no-repeat;
    height: 548px;
    width: 100%;
    background-size: cover;
    text-align: center;
    background-color: #4d4d4d;
    background-blend-mode: overlay;
    color: #ffffff;
    margin-top: 5%;
}
.connect h2{
    padding-top: 6%;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    font-style: oblique;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: center;
}
.connect button{
    margin-top: 95px;
    padding: 12px;
    width: 100px;
    border: 0px;
    font-weight: bold;
}
.connect a{
    padding-left: 10px;
}
/* Athletes of the week*/
.athlete h2{
    padding-top: 6%;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    font-style: oblique;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: center;
}
.athlete h2 span{
    color: #96FC58;
}
.athlete .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10%;
}
.athlete .grid-item{
    background-color:#141414;
    width: 510px;
    height: 650px;
    border-radius: 0;  
    text-align: center;
    margin-top: 50px;
}
.grid-back{
    background: url(img/rayan.png);
    background-color: #4d4d4d;
    background-blend-mode: overlay;
    width: 510px;
    height : 352px;
    border-radius:5px;
}
.grid-back .fa-regular{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}
.text{
    margin-top: 35%;
}
.grid-item li{
    margin-left: 40px;
    text-align: left;
}
.grid-item a{
    text-decoration: none;
    background-color: #C5253C;
    color: #ffffff;
    padding: 10px;
    width: 200px;
    border: 0px;
}
.chevron button {
  --purple: #96FC58;
  width: 150px;
  padding: 0.8em 3em;
  position: relative;
  transition: all 0.3s;
  line-height: 1.4em;
  background-color: #000;
  border: 1px solid var(--purple);
  box-shadow: 0 0 10px #96FC58;
}
.left{
    float: left;
    color: #96FC58;
    margin-left:10%;
    margin-top:30px;
}
.right{
    float: right;
    color: #96FC58;
    float: right;
    margin-right:8%;
    margin-top: 30px;
}

/* FAQS */

.faq h1{
    margin-top: 10%;
    font-family: Staatliches;
    font-size: 72px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0.02em;
    text-align: center;
    font-style: oblique;
    color: #ffffff;
}
.faq p{
    text-align: left;
    margin-left: 20%;
}
.faq .fa-regular{
    float: right;
    margin-right: 29%;
}
hr{
    width: 775px;
    margin-left: 20%;
    margin-top: 30px;
}
.hidden-text{
    text-align: left;
    margin-left: 20%;
    margin-right: 28.5%;
    margin-top: 2%;
}
