.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    /* margin-bottom: 0px; */
    height: 70px;
    background-color: #282828;
    z-index: 100;
   
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo1 {
    height: 50px;
    margin-left: 80px;
    margin-right: 20px;
  }
  
  .title {
      width: 165px;
      left: 191px;
      top: 4px;
      color: white;
      font-size: 24px;
      font-family: Staatliches;
      font-weight: 400;
      text-transform: uppercase;
      word-wrap: break-word;
  }
  
  .middle-section {
    flex: 1;
    margin-left: 420px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
  }
  
  .middle{
      width: 100%; 
      height: 100%; 
      justify-content: flex-start; 
      align-items: center; 
      gap: 4px; 
      display: inline-flex
  }
  
  
  .flag {
      width: 24px; 
      height: 20px; 
      border-radius: 2px
    
  }
  
  .country {
      text-align: right;
      color: white;
      font-size: 18px;
      font-family: Montserrat;
      font-weight: 500;
      line-height: 16px;
      word-wrap: break-word;
  }
  
  .right-section {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px ;
    flex-shrink: 0;
  }
  
  .sign-in-text {
      color: black; 
      font-size: 14px; 
      font-family: Montserrat; 
      font-weight: 700; 
      word-wrap: break-word
  }
  
  
  .sign-up-text {
      color: black; 
      font-size: 14px; 
      font-family: Montserrat; 
      font-weight: 700; 
      word-wrap: break-word
  }
  
  .sign-in, .sign-up {
      padding-left: 28px;
      padding-right: 28px;
      padding-top: 12px;
      padding-bottom: 12px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: flex;
      word-wrap: break-word;
  }
  
  .sign-in {
      background: white;
      border: 0.5px #ebeaea solid;
      color: black;
  }
  
  .sign-up {
      background: #c5253c;
      color: white;
  }
  
  .nav-bar {
    background-color: black;
    height: 70px;
    color: white;
    margin-top: 70px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    /* z-index: 100; */
  }
  
  .navigation {
    width: 100%; 
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
    
  }
  
  .nav-item {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    color: #DFDDDD;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center; 
  }
  
  .nav-item:first-child {
    width: 60px;
    font-weight: 700;
  }
  .nav-item a{
    text-decoration: none;
    color: #fff;
  }
    .nav-item .active{
    color: #96FC58;
    }
  .icon {
    width: 24px;
    height: 24px;
    position: relative;
  }
  
  .icon-item {
    width: 16px;
    height: 16px;
    position: absolute;
  }
  
  /* .container {
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
}

.follow-athlete-zone {
    left: 1156px;
    top: 92px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
    opacity: 0.80;
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.social-icons {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
}

.icon-container {
    width: 32px;
    height: 32px;
    position: relative;
}

.icon-container img {
    width: 21.33px;
    height: 21.34px;
    left: 5.33px;
    top: 5.33px;
    position: absolute;
}

.white-rectangle {
    width: 26.67px;
    height: 21.33px;
    left: 2.67px;
    top: 5.33px;
    position: absolute;
    background: white;
}

.logo {
    width: 231px;
    height: 72px;
    left: 125px;
    top: 0px;
    position: absolute;
}

.logo-text {
    width: 165px;
    left: 66px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Staatliches;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 72px;
    word-wrap: break-word;
}

.logo img {
    width: 48px;
    height: 58.50px;
    left: 0px;
    top: 7px;
    position: absolute;
}

.nav {
    left: 125px;
    top: 92px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: inline-flex;
}

.navi {
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.footer {
    width: 224px;
    height: 14px;
    left: 125px;
    top: 140px;
    position: absolute;
    color: white;
    font-size: 10px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
} */
