*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
};
body{
    background-color: black;
    color: white;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo1{
    background-color: #282828;
    top: 0;
    margin-top: 0;
    width: 1440px;
    height: 80px;
}
.logo1 ul{
    display: flex;
}
.logo1 ul li{
    color: white;
    list-style: none;
}
.logo1 ul li img{
    width: 48px;
    height: 58.5px;
    margin-top: 11px;
    margin-left: 125px;

}
.logo1 ul p{
width: 165px;
height: 72px;
top: 4px;
left: 191px;
font-family: 'Staatliches', cursive;
font-size: 24px;
font-weight: 400;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
}
.currency{
    width: Hug (116px);
    height: Hug (24px);
    top: 0;
    left: 662px;
    gap: 4px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;

}
nav .navbar{
    margin-top: 30px;
}
nav .navbar li {
    display: inline-block;
    padding-left: 10px;
}
nav .navbar a{
    padding: 10px;
    text-decoration: none;
}


.rectangle{
    background-image: url(img/banner.png);
    width: 100%;
    height: 600px;
    top: 160px;
}
.rectangle p{
    padding-top: 208px;
    padding-left: 100px;
    color: #ffffff;
    font-family: 'Staatliches', cursive;
    font-style: italic;
    font-size: 60px;
    font-weight: bold;
    line-height: 94px;
    letter-spacing: 0.02em;
    text-align: center;
}
.rectangle p span{
    color: #96FC58;
}
.side{
    background-color: #C5253C;
    width: 60px;
    height: 400px;
    top: 220px;
    margin-left: 1305px;
    z-index: 1;
}
.side .fa-brands{
    color: #ffffff;
    font-size: 30px;
    margin-top: 30px;
    padding-left: 30%;
}
.who{
    background-color: black;
}
.who h3{
    width: 974.7318144600467px;
    height: 182.00000486124574px;
    opacity: 0.029999999329447746px;
    margin-top: 10px;
    margin-left: 20%;
    color: #000;
    font-family: 'Staatliches', cursive;
    font-size: 70px;
    font-weight: bold;
    line-height: 182px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ffffff;
    float: right;
}
.fa-regular{
    float: left;
    width: 18px;
    height: 18px;
    margin-left: 125px;
    border: 1px;
    color: #ffffff;
}

/* How it works */
.how{
    background-color: black;
    color: #ffffff;
}
.how h3{
    font-family: 'Staatliches', cursive;
    font-style: italic;
    font-size: 72px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 40px;
}
.how h3 span{
    color: #96FC58;
}
.how p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 40px;
}
.grid-item {
    background-color:#141414;
    text-align: center;
    width: 370px;
    height: 250px;
    border-radius: 16px;
    margin-top: 50px;
}
.one{
    background-color: #C5253C;
    text-align: center;
    margin-right: 89%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 0 0 20px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}
.grid-item h4{
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 10px;
    padding-left: 12px;
    padding-top: 15px;
}
.how h4 span{
    color: #96FC58;
}
.grid-item p{
    margin: 10px;
    padding-top: 25px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.connect{
    position: static;
    background-image: url(img/connect.png);
    background-repeat: no-repeat;
    height: 548px;
    width: 100%;
    background-size: cover;
    text-align: center;
    background-color: #4d4d4d;
    background-blend-mode: overlay;
    color: #ffffff;
    margin-top: 5%;"
}
.connect h2{
    padding-top: 6%;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    font-style: italic;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: center;
}
.connect button{
    margin-top: 70px;
    padding: 15px;
    width: 100px;
    border: 0px;
    font-weight: bold;
}
.connect a{
    padding-left: 10px;
}
/* Athletes of the week*/
.athlete h2{
    padding-top: 6%;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    font-style: italic;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: center;
}
.athlete h2 span{
    color: #96FC58;
}
.athlete .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 40px;    
}
.athlete .grid-item{
    background-color:#141414;
    text-align: center;
    width: 370px;
    height: 250px;
    border-radius: 16px;
    margin-top: 50px;
}
.card {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #1C1C1D;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 500px;
    height: 510px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  